.header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.image {
  height: 2rem;
}
.nav {
  display: flex;
}
.btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.button {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.menu-burger {
  display: none;
}
.icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.image1 {
  height: 2rem;
}
.icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .icon {
    display: flex;
  }
}
@media(max-width: 767px) {
  .header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nav {
    display: none;
  }
  .btn-group {
    display: none;
  }
  .menu-burger {
    display: flex;
  }
}
@media(max-width: 479px) {
  .header {
    padding: var(--dl-space-space-unit);
  }
  .menu-mobile {
    padding: 16px;
  }
}
